<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test thread-count="2"  parallel="methods" name="Test" >
    <classes>
      <class name="com.carbonite.qa.testcases.AllProductsPageTest">
      <methods>
      <include name ="verifyColorOfLearnMoreButton"/>
      </methods>  
      </class>
      
      <class name="com.carbonite.qa.testcases.HomeBackupPageTest"> 
      <methods>
       <include name ="signUpFunctionalityTest"/>
       </methods>
      </class>
      
      <class name="com.carbonite.qa.testcases.BusinessBackupPageTest">
      <methods>
       <include name ="clickOnComparePlansTest"/>
       <include name ="clickOnBusinessTrialTest"/>
       <include name ="laptopLogoIsDisplayedTest"/>
       <include name ="verifyColorTest"/>
     
       </methods>
         </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
 